#root {
    padding: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-screen {
    width: 480px;
    height: 130px;
    background-color: white;
    overflow-x: auto;
}

.row {
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
    padding: 5px 20px;
}

#up {
    height: 50px;
    font-size: 35px;
    color: black;
}

#down {
    height: 60px;
    font-size: 45px;
    color: gray;
}

.keyboard {
    width: 480px;
    height: 360px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

button {
    width: 120px;
    height: 60px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 26px;
    border: 1px solid black;
}

.number {
    background-color: #a1bbe6;
}

.number:hover {
    background-color: #779fe0;
}

.number:active {
    background-color: #779fe0;
}

.operation {
    background-color: #dce0e6;
}

.operation:hover {
    background-color: #bdc2c9;
}

.operation:active {
    background-color: #bdc2c9;
}